<!-- example of real time updated map w jQuery: https://gist.github.com/markmarkoh/4127667 -->
<section id="map-section" style="position: relative;">
    <div id="container1" style="width: 100%; height: 100%;"></div>
    <div id="container2" style="margin-top: 20px;"></div>
</section>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="{{ '/assets/datamaps.usa.min.js' | relative_url }}"></script>
<script>
var map;
function initMap(containerId1,containerId2, dataURL) {   
  var map = new Datamap({
      scope: 'usa',
      element: document.getElementById(containerId1),
      responsive: true,
      dataUrl: dataURL,
      dataType: 'json',
      data:{},
      fills: {
          defaultFill: '#EDDC4E'
      },
      geographyConfig: {
          highlightBorderColor: '#bada55',
          highlightBorderWidth: 3,
          popupOnHover: false
      },
      done: function(map) {
          console.log("Map Data:", map.options.data);
          map.svg.selectAll('.datamaps-subunit').on('click', function(geo) {
              console.log("Clicked Geo ID:", geo.id);
              // Retrieve the state data
              const stateData = map.options.data[geo.id] || {};
              console.log("State Data:", stateData);
              // Reset fill color for all states
              map.svg.selectAll('.datamaps-subunit').style('fill', function () {
                  return map.options.fills.defaultFill; // Reset to the defaultFill color
              });
              // Highlight the clicked state
              d3.select(this).style('fill', '#bada55');
              // Display data in container2
              var deptAgLink = stateData.deptAg 
                ? `<a href='${stateData.deptAg }' target="_blank">Department of Agriculture</a>` : 'No Department of Agriculture link available';
              var additionalInfo = stateData.info 
                ? `<p>${stateData.info}</p>` : "<p>No additional information available.</p>";
              //update container 2
              document.getElementById(containerId2).innerHTML = `
                  <h3>${geo.properties.name}</h3>
                  ${deptAgLink}
                  ${additionalInfo}
              `;
          });
      }
      });
  map.labels();
} </script>
<script>
  console.log("USDAMapSnippet.html is loaded.");
  document.addEventListener("DOMContentLoaded", function() {
    if (typeof initMap === 'function') {
      console.log("Initializing the map...");
      initMap('container1', 'container2', 'USAgData.json');
      console.log("Map Initialized");
    }
  });
  window.addEventListener('resize', function() {
    map.resize();
  });
</script>
