<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
</head>
<body>
    <header>
        <nav></nav>
            <ul>
                <li><a href="/AvianFluInfo/">Home</a></li>
                <li><a href="/AvianFluInfo/farmers.html">For Farmers</a></li>
                <li><a href="/AvianFluInfo/researchers.html">For Researchers</a></li>
                <li><a href="/AvianFluInfo/faq.html">FAQ</a></li>
            </ul>
        </nav>
        <h1>{{ page.title }}</h1>
    </header>
    <main>
        {{ content }}
    </main>
    {% if page.script %}
    <script src="{{ page.script }}"></script>
    {% endif %}
</body>
</html>
